.head {
  text-align: center;
  margin-left: 3rem;
}

.main {
  text-align: center;
}

.main label {
  font-weight: 600;
}

.password {
  margin-left: -1.3rem;
}

.main div input {
  height: 1.5rem;
  width: 10rem;
  border-radius: 0.2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
  font-weight: 400;
}

.main div input::placeholder {
  color: black;
}

.btn {
  text-align: center;
  margin-left: 3rem;
  margin-top: 2rem;
  width: 7rem;
  height: 1.8rem;
  border-radius: 0.5rem;
  background-color: #66ffff;
}

.btn a {
  text-decoration: none;
  color: black;
}
